* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: cadetblue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    text-align: center;
    margin: 10px 0px;
}

section {
    background-color: white;
    color: black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349) ;
    margin: auto;
    max-width: 400px;
    padding: 10px;
}

section p {
    margin: 10px 0px;
}

footer {
    text-align: center;
    margin-top: 10px;
}